In [2]:
import pandas as pd
#pandas is a library,it will handle all the datas and table, to read files.pandas has n number of fucntions and we are giving a
#alias name as for pandas.

In [4]:
dataset=pd.read_csv("salary_data.csv")
#we are going to load the dataset.pd.read_csv is a function and we have to pass file name in brackets.

In [5]:
dataset
#we are going to run this dataset now.

    yearsofexperience  salary
0                 1.0  100000
1                 1.5  150000
2                 2.0  200000
3                 2.5  250000
4                 3.0  300000
5                 3.5  350000
6                 4.0  400000
7                 4.5  450000
8                 5.0  500000
9                 5.5  550000
10                6.0  600000
11                7.0  700000
12                8.0  800000
13                9.0  900000
14               10.0  950000

In [6]:
independent=dataset[["yearsofexperience"]]
#we are calling a variable independent and assign,we are going to take input as the column"yearsofexperience" that got saved in
#database.

In [7]:
independent
#now we are going to call indepdent where all the employee years of exp is stored

    yearsofexperience
0                 1.0
1                 1.5
2                 2.0
3                 2.5
4                 3.0
5                 3.5
6                 4.0
7                 4.5
8                 5.0
9                 5.5
10                6.0
11                7.0
12                8.0
13                9.0
14               10.0

In [8]:
dependent=dataset[["salary"]]
#now we are creating dependent variable and storing salary,this is the process where our input and output will get split.

In [9]:
dependent
#we are calling depedent that has salary column.

    salary
0   100000
1   150000
2   200000
3   250000
4   300000
5   350000
6   400000
7   450000
8   500000
9   550000
10  600000
11  700000
12  800000
13  900000
14  950000

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)
#sklearn is a library that supports machine learning.from sklearn folder we are importing model_selection that is a function.
#from sklearn importing train_test_split and we have four variables x_train,x_test,y_train,y_test.
#only if we separate these 4 variables we can access sklearn.and we are assigning size of test and random state.

In [12]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)
#from sklearn library we are importing class called linear Regression.
#a class usually has functions,all those functions will get assign to variable called regressor.fit is a method.
#learning phase starts here.fit is a method inside we are passing x_train,y_train that is to find weight and bias.

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
weight=regressor.coef_
weight
#variable weight is given.coef is nothin but to calculate the weight.we are calling weight now we will be getting weight
#for the particular model.

array([[100000.]])

In [14]:
bais=regressor.intercept_
bais
#bais is saved inside regressor.it got saved in variable called intercept.

array([-5.82076609e-11])

In [15]:
y_pred=regressor.predict(X_test)
#we have created variable y_pred for evaluation,everything got saved in regressor so we are using it
#predict is the application's function,evaluation metrics should happen for test data so we are passing x_test.

In [16]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
#this is a function we have created variable r score and we have to pass actual and predicted value

In [17]:
r_score
#if r_score is nearly to 1 it is good model otherwise poor model.

0.9925816023738873

In [18]:
import pickle
filename="finalized_model_linear.sav"
#pickle is a function then we are creating a dummy filename and giving a finalised name for model.
#pickle extension is .sav

In [19]:
pickle.dump(regressor,open(filename,'wb'))
#we are going to save model here,wb stands for write binary.

In [20]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[15]])
#variable name is created loaded_model,if we want to use the model that has been saved use pickle.load(open and mention)
#file name with extension that is sav.we are going to only read so am mentioning rb.now we are going to test.
#result is my variable.model is been created in loaded model so we are giving loaded_model
#.predict as we are going to predict values.and pass the value.

In [21]:
result

array([[1500000.]])